In [37]:
import pandas as pd
student={'Unit Test-1':[5,6,8,3,10],'Unit Test-2':[7,8,9,6,15]}
student1={'Unit Test-1':[3,3,6,6,8],'Unit Test-2':[5,9,8,10,5]}
ds=pd.DataFrame(student)
ds1=pd.DataFrame(student1)
print(ds)
print("\n")

print(ds1)
print("\n")

print("Subtraction")
print(ds.sub(ds1))
print("\n")

print("rsub")
print(ds.rsub(ds1))
print("\n")

print("Addition")
print(ds.add(ds1))
print("\n")

print("radd")
print(ds.radd(ds1))
print("\n")

print("Multiplication")
print(ds.mul(ds1))
print("\n")

print("Division")
print(ds.div(ds1))

   Unit Test-1  Unit Test-2
0            5            7
1            6            8
2            8            9
3            3            6
4           10           15


   Unit Test-1  Unit Test-2
0            3            5
1            3            9
2            6            8
3            6           10
4            8            5


Subtraction
   Unit Test-1  Unit Test-2
0            2            2
1            3           -1
2            2            1
3           -3           -4
4            2           10


rsub
   Unit Test-1  Unit Test-2
0           -2           -2
1           -3            1
2           -2           -1
3            3            4
4           -2          -10


Addition
   Unit Test-1  Unit Test-2
0            8           12
1            9           17
2           14           17
3            9           16
4           18           20


radd
   Unit Test-1  Unit Test-2
0            8           12
1            9           17
2           14           17
3            9           16
4           18           20


Multiplication
   Unit Test-1  Unit Test-2
0           15           35
1           18           72
2           48           72
3           18           60
4           80           75


Division
   Unit Test-1  Unit Test-2
0     1.666667     1.400000
1     2.000000     0.888889
2     1.333333     1.125000
3     0.500000     0.600000
4     1.250000     3.000000

In [5]:
import pandas as pd
d1={'roll_no':[10,11,12,13,14,15],'name':['Ankit','Pihu','Rinhu','Yash','Vijay','Nikhil']}
df1=pd.DataFrame(d1,columns=['roll_no','name'])
print(df1)
print("\n")
d2={'roll_no':[1,2,3,4,5,6],'name':['Renu','Jatin','Deep','Guddu','Chhaya','Sahil']}
df2=pd.DataFrame(d2,columns=['roll_no','name'])
print(df2)

   roll_no    name
0       10   Ankit
1       11    Pihu
2       12   Rinhu
3       13    Yash
4       14   Vijay
5       15  Nikhil


   roll_no    name
0        1    Renu
1        2   Jatin
2        3    Deep
3        4   Guddu
4        5  Chhaya
5        6   Sahil

In [34]:
import pandas as pd
grade={'Name':['Rashmi','Harsh','Ganesh','Priya','Vivek','Anita','Karthik'],'Grade':['A1','A2','B1','A1','B2','A2','A1']}
Gr=pd.DataFrame(grade,columns=['Name','Grade'])
print(Gr)
print("\n")
print(Gr.iloc[0:5])
print("\n")
print(Gr[0:5])
print("\n")
Gr['Percentage']=[92,89,None,95,68,None,93]
print(Gr)
print("\n")
Gr=Gr.reindex(['Name','Percentage','Grade'],axis=1)
print(Gr)
print("\n")
Gr=Gr.drop(['Grade'],axis=1)
print(Gr)
print("\n")
Gr=Gr.drop([2,4])
print(Gr)

      Name Grade
0   Rashmi    A1
1    Harsh    A2
2   Ganesh    B1
3    Priya    A1
4    Vivek    B2
5    Anita    A2
6  Karthik    A1


     Name Grade
0  Rashmi    A1
1   Harsh    A2
2  Ganesh    B1
3   Priya    A1
4   Vivek    B2


     Name Grade
0  Rashmi    A1
1   Harsh    A2
2  Ganesh    B1
3   Priya    A1
4   Vivek    B2


      Name Grade  Percentage
0   Rashmi    A1        92.0
1    Harsh    A2        89.0
2   Ganesh    B1         NaN
3    Priya    A1        95.0
4    Vivek    B2        68.0
5    Anita    A2         NaN
6  Karthik    A1        93.0


      Name  Percentage Grade
0   Rashmi        92.0    A1
1    Harsh        89.0    A2
2   Ganesh         NaN    B1
3    Priya        95.0    A1
4    Vivek        68.0    B2
5    Anita         NaN    A2
6  Karthik        93.0    A1


      Name  Percentage
0   Rashmi        92.0
1    Harsh        89.0
2   Ganesh         NaN
3    Priya        95.0
4    Vivek        68.0
5    Anita         NaN
6  Karthik        93.0


      Name  Percentage
0   Rashmi        92.0
1    Harsh        89.0
3    Priya        95.0
5    Anita         NaN
6  Karthik        93.0